/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #3524d3;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body { height: 100%; }
body.dark {
  background-color: #161616;
}
body.light {
  background-color: #FBFBFB;
}
.nav {
  position: fixed;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  font-size:14px;
  font-weight:900;
  background-color: transparent;
  padding: 30px 50px;
  z-index: 15;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.19s linear, background-color 0.2s 0.3s;
  -moz-transition: -moz-transform 0.19s linear, background-color 0.2s 0.3s;
  -o-transition: -o-transform 0.19s linear, background-color 0.2s 0.3s;
  -ms-transition: -ms-transform 0.19s linear, background-color 0.2s 0.3s;
  transition: transform 0.19s linear, background-color 0.2s 0.3s;
}
.nav.nav-up {
  -webkit-transform: translateY(-81px);
  -moz-transform: translateY(-81px);
  -o-transform: translateY(-81px);
  -ms-transform: translateY(-81px);
  transform: translateY(-81px);
}
.nav-logo {
  float: left;
  width: 80px;
  height: 21px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-logo.black {
  background-image: url(../img/logo-01.svg);
}
.nav-list {
  float: right;
  margin: 0;
}
.nav-item {
  float:left;
  display:inline; 
  width: 79px;
  margin: 0 20px;
  font-family: 'apercu';
  font-weight: 400;
  text-align: center;
}
.nav-item a {
  display:block;
  position: relative;
  color: #B5B8B9;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
} 
.nav-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -32px;
  left: 0;
  background-color: #B5B8B9;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-item.active a {
  color: #000000;
}
.nav-item.active a:before {
  
  background-color: #000000;
}
.nav-item a:hover:before,
.nav-item.active a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nav-mobile {
  display:none;
  cursor:pointer;
  position:absolute;
  top: 50%;
  right: 50px;
  height: 24px;
  width: 24px;
  margin-top: -12px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 1000;
}
.line {
  display: inline-block;
  position: absolute;  
  width: 24px;
  height: 3px;
  background-color: #B5B8B9;
}
.line:nth-child(1) {
  top: 3px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  transform-origin: 0.75px center;
  -webkit-transform-origin: 0.75px center;
}
.line:nth-child(2) {
  top: 13px;
  transition: 0.3s .1s;
  -webkit-transition: 0.3s .1s;
}
.line:nth-child(3) {
  top: 23px;
  transition: 0.3s .2s;
  -webkit-transition: 0.3s .2s;
  transform-origin: 0.75px center;
  -webkit-transform-origin: 0.75px center;
}
.nav-mobile.close .line {
  background: transparent;
}
/* line 165, ../scss/style.scss */
.nav-mobile.close .line:nth-child(1), .nav-mobile.close .line:nth-child(3) {
  width: 30px;
  background-color: white;
}
/* line 170, ../scss/style.scss */
.nav-mobile.close .line:nth-child(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
}
/* line 174, ../scss/style.scss */
.nav-mobile.close .line:nth-child(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
}
#full-page-menu {
  display: none;
}
#full-page-menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #B5B8B9;
}
.nav-list-full {
  position: relative;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 320px;
  color: #ffffff;
  margin-left: -90px;
  margin-top: -160px;
  text-align: center;
  list-style: none;
  font-size: 30px;
  font-family: 'apercu';
  font-weight: 200;
  text-align: center;
  line-height: 80px;
} 
.full-item {
  position: relative;
} 
.full-item a {
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.full-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 15px;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}  
.full-item a,
.full-item a:visited {
  text-decoration: none;
  color: #ffffff;
}
.full-item.active a {
  color: #000000;
}
.full-item.active a:before {
  background-color: #000000;
}
.full-item a:hover:before,
.full-item.active a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.section-wrapper {
  width: 100%;
  /*max-width: 1300px;*/
  margin: 0 auto;
}

/************************ MAINWRAPPER  *************************/

#mainwrapper{
    height: 100%;
}

/************************ HOMEPAGE SLIDER  *************************/

#slideShowWrapper{
	width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  position: absolute;
  top:0;
}

#slideShow{
	width: 100%;
	height: 100%;
	background-color: blue;
}
.slide{
	width: 100%;
	height: 100%;
	position: absolute;
}

#slide1{
	background-color: #ffffff;
	left:0;
}

#slide2{
	/* background: url(../img/bcknd1.png) transparent;*/
	background-color: #f2f2f2;
	left:100%;
}

#slide3{
	/*  background: url(../img/bcknd1.png) transparent;*/
	background-color: #f2f2f2;
	left:100%;
}

#slide4{
	/*background: url(../img/bcknd1.png) transparent;*/
	background-color: #f2f2f2;
	left:100%;
}
#arrowLeft,
#arrowRight {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}
#arrowLeft {
	left: 50px;
	background: url('../img/arrow-l.svg') 0 0 transparent;
}

#arrowRight {
	float:right;
	right: 50px;
	background: url('../img/arrow-r.svg') 0 0 transparent;
}

#slideshowMenu {
	position: absolute;
	width: 169px;
	height: 30px;
	left: 50%;
	bottom: 50px;
	margin-left: -84.5px;
}

.slideshowMenuItem{
	width: 8px;
	height: 8px;
	position: relative;
	border-radius: 25px;
	float: left;
	margin-right: 40px;
	margin-top: 5px;
	border: 2px solid #b5b8b9;
	cursor: pointer;
}
.slideshowMenuItem:last-child {
  margin-right: 0px;
}
.slideshowMenuItemSelected{
	background-color: #b5b8b9 !important;
}
.landingBox {
  width: 403px;
  height: 340px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -201.5px;
  margin-top: -170px;
  text-align: center;
}
.landingTitle {
  font-size: 62px;
  font-family: "apercu";
  font-weight: 400;
  color: #B5B8B9;
  letter-spacing: -1px;
}
.landingTitle span {
  position: relative;
  font-size: 32px;
  vertical-align: super;
  padding-bottom: 10px;
  border-bottom: 3px solid #b5b8b9;
  cursor: pointer;
}
.hp-title-link:before {
  position: absolute;
  content:'';
  right: -40px;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-image: url(../img/more_arrow-01.svg);
  background-repeat: no-repeat;
  background-position: center;  
}
.landingText{
	float: left;
	position: relative;
  font-size: 18px;
  font-family: "Akkurat";
  font-weight: 400;
  color:#B5B8B9;
}
.landingButton{
	padding: 10px 20px;
	border: 2px solid #B5B8B9;
	border-radius: 10px;
	color: white;
	top: 100px;
	position: relative;
	cursor: pointer;
	color:#B5B8B9;
	font-family: 'Circular Std';
}
.landingBox.welcome {
  width: 580px;
  height: 350px;
  margin-left: -290px;
  margin-top: -175px;
}
.welcome .landingTitle {
  font-size: 36px;
  font-family: "apercu";
  font-weight: 200;
  color: #B5B8B9;
  letter-spacing: -1px;
}
/************************ HOMEPAGE SLIDER  END *************************/

/************************ CASE STUDIES INDEX START  *************************/

#cs-page-header {
  position: absolute;
  top: 30%;
  left: 30%;
  margin-left: -16.65%;
  padding-left: 50px;
  box-sizing: border-box;
  max-width: 660px;
}
.page-header h1 {
  position: relative;
  margin-top: 0px;
  font-size: 60px;
  font-family: "apercu";
  font-weight: 400;
  line-height: 65px;
  text-transform: uppercase;
}
.page-header h1:before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: -50px;
  width: 40px;
  height: 4px;
  background-color: #fff;
}
body.dark .page-header {
  color: #fff;
}
body.light .page-header {
  color: #333;
}
.page-header p {
  margin-top: 30px;
  font-size: 16px;
  font-family: "apercu";
  font-weight: 200;
  color: #B5B8B9;
  line-height: 28px;
}
#scroll-indicator {
  position: relative;
  width: 26px;
  height: 44px;
  margin-top: 100px;
  border: 3px solid #fff;
  border-radius: 40px;
  box-sizing: border-box;
}
#scroll-indicator h5 {
  width: 300px;
  margin-top: 6px;
  margin-left: 42px;
  font-size: 16px;
  font-family: "apercu";
  font-weight: 200;
  color: #fff;
}
#scroll-indicator:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 10px;
  left: 50%;
  margin-left: -3px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-animation: scrollmouse 1s ease infinite;
  animation: scrollmouse 1s ease infinite;
}
@-webkit-keyframes scrollmouse {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(18px);
    -moz-transform: translateY(18px);
    -o-transform: translateY(18px);
    -ms-transform: translateY(18px);
    transform: translateY(18px);
    opacity: 0;
  }
}
@keyframes scrollmouse {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
}
#cs-filter-text {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
}
#cs-filter-text h5 {
  position: relative;
  font-size: 22px;
  font-family: "apercu";
  font-weight: 200;
  margin-top: 140px;
  margin-bottom: 30px;
  color: #B5B8B9;  
  text-align: right;
}
#filter-toggle {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
  text-transform: lowercase;
}
#filter-toggle:before {
  content: '';
  position: absolute;
  top: 50%;
  right: -30px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url(../img/dd_arrow.svg) no-repeat 50% 50%;
}
#filter-body {
  position: relative ;
  width: 100%;
  height: 0;
  margin-top: 20px;
  background-color: #000000;
  overflow: hidden;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none; 
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#filter-by {
  position: relative;
  width: 275px;
  height: 70px;
  margin-left: 50px;
  list-style: none;
}
#filter-by li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.filter-by-item ,
.view-instructor  {
  display: inline-block;
  cursor: pointer;
  font-family: "apercu";
  font-weight: 200;
}
.view-instructor {
  margin-right: 30px;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}
.filter-by-item {
  margin-right: 20px;
  color: #525252;
  font-size: 16px;
}
#filter-body.active {
  height: 250px;
}
#filter-by.first-state {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -142.5px;
  margin-top: -35px;
}
.list-cont {
  display: none;
  padding: 0;
  white-space: nowrap;
  height: 194px;
  min-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
}
.list {
  width: auto;
  text-align: center;
}
.filter-item {
  display: inline-block;
  position: relative;
  margin-right: 100px;  
  font-family: "apercu";
  font-weight: 200;
  font-size: 16px;
  color: #525252;
  cursor: pointer;
}
.filter-item:first-child {
  margin-left: 50px;
}
.filter-by-item.active,
.filter-item.active {
  color: #ffffff;
  padding-bottom: 17px;
  border-bottom: 2px solid #ffffff;
}
.filter-item.active:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  width: 20px;
  margin-top: -10px;
  height: 20px;
  background: url(../img/tick-01.svg) no-repeat 50% 50%;
}
#cs-work {
  margin-top: 0px;
}
.work-item {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #1a1a1a;
  cursor: pointer;
}
.work-item img {
  width: 100%
}
.work-item:nth-child(2n+0){
  background-color: #000000;
}
.work-text {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
  padding: 0 50% 0 15%;
}
.work-text h2,
.work-text h4 {
  box-sizing: border-box;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
}
.work-text h2,
.work-text span {
  font-family: "apercu";
  font-weight: 400;
  color: #fff;
}
.work-text h2 {
  font-size: 46px;
  opacity: 0;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.work-text h4 {
  font-family: "apercu";
  font-size: 20px;
  font-weight: 200;
  color: #E8E8E8;
  opacity: 0;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  -webkit-transition: all 0.2s ease-in-out .1s;
  -moz-transition: all 0.2s ease-in-out .1s;
  -o-transition: all 0.2s ease-in-out .1s;
  -ms-transition: all 0.2s ease-in-out .1s;
  transition: all 0.2s ease-in-out .1s;
}
.to-top {
  position: absolute;
  top: 50%;
  left: 150px;
  width: 2px;
  height: 2px;
  border: 3px solid #ffffff;
  border-radius: 40px;
  opacity: 0;
  z-index: 14;
  -webkit-transition: opacity 0.2s .2s, width 0.2s cubic-bezier(.35,0,.71,1) .6s, height 0.2s cubic-bezier(.35,0,.71,1) .6s, margin 0.2s  cubic-bezier(.35,0,.71,1) .6s;
  -moz-transition: opacity 0.2s .2s, width 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s, height 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s, margin 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s;
  -o-transition: opacity 0.2s .2s, width 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s, height 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s, margin 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s;
  -ms-transition: opacity 0.2s .2s, width 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s, height 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s, margin 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s;
  transition: opacity 0.2s .2s, width 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s, height 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s, margin 0.2s cubic-bezier(.35,-0.36,.71,1.27) .6s;
}
.top-text {
  position: absolute;
  width: 100%;
  line-height: 40px;
  margin: 0;
  font-family: "apercu";
  font-size: 12px;  
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; 
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out .8s;
  -moz-transition: opacity 0.2s ease-in-out .8s;
  -o-transition: opacity 0.2s ease-in-out .8s;
  -ms-transition: opacity 0.2s ease-in-out .8s;
  transition: opacity 0.2s ease-in-out .8s;
}
.view-proj {
  position: absolute;
  top: 50%;
  right: 50px;
  margin-left: -20px; 
  width: 40px;
  height: 40px;
  background: url(../img/case.study.images/icons/eye-ico-01.svg) no-repeat 50% 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out .1s;
  -moz-transition: all 0.2s ease-in-out .1s;
  -o-transition: all 0.2s ease-in-out .1s;
  -ms-transition: all 0.2s ease-in-out .1s;
  transition: all 0.2s ease-in-out .1s;
}
.work-item.active h2,
.work-item.active h4 {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.work-item.active .view-proj {
  opacity: 1;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}
.work-item.active .to-top {
  opacity: 1;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}
.work-item.active .top-text {
  opacity: 1;
}
.load-more {
  width: 50%;
  margin: 0 auto;
}
.load-more h5 {
  margin: 60px 0 60px 0;
  font-family: "apercu";
  font-size: 20px;
  font-weight: 200;
  color: #E8E8E8;
  text-align: center;
}
.load-more.loading h5 {
  color: #383838;
}
/* *********************************** PROJECT VIEW ******************************* */

#header {
  width: 100%;
  background-size: cover;
}
#header:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 50px;
}
#header-txt-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 460px;
  margin-top: -230px;
  margin-left: -300px;
  font-family: "apercu";
  color: #ffffff;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
}
#header-txt-cont h1,
#header-txt-cont h5,
#header-txt-cont p {
  position: relative;
  text-align: center;
}
#header-txt-cont h1,
#header-txt-cont h5 {
  text-transform: uppercase;
}
#header-txt-cont h1 {
  font-size: 68px;
  margin-bottom: 60px;
}
#header-txt-cont h1:before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 40px;
  height: 4px;
  margin-left: -20px;
  background-color: #ffffff;
}
#header-txt-cont h5 {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 40px;
}
#header-txt-cont p {
  font-size: 16px;
  font-weight: 200;
}
.col {
  float: left;
}
.one-col {
  width: 8.33%
}
.two-col {
  width: 16.66%;
}
.three-col {
  width: 25%;
}
.four-col {
  width: 33.33%;
}
.five-col {
  width: 41.66%
}
.six-col {
  width: 50%;
}
.nine-col {
  width: 75%;
}
.ten-col {
  width: 83.33%;
}
.eleven-col {
  width: 91.66%;
}
.twelve-col {
  width: 100%;
}
#header-client,
#header-date {
  margin-bottom: 60px;
}
#header-client {
  text-transform: uppercase;
  text-align: left;
}
#header-date {
  text-transform: uppercase;
  text-align: right;
}
#second-nav {
  position: relative;
  width: 100%;
  height: 100px;
  top: 0;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 14;
  -webkit-transition: all 0.19s linear;
  -moz-transition: all 0.19s linear;
  -o-transition: all 0.19s linear;
  -ms-transition: all 0.19s linear;
  transition: all 0.19s linear;
}
#second-nav.fixed {
  position: fixed;
  height: 60px;
}
#second-nav.down {
  -webkit-transform: translateY(81px);
  -moz-transform: translateY(81px);
  -o-transform: translateY(81px);
  -ms-transform: translateY(81px);
  transform: translateY(81px);
}
#second-nav-innerwrap {
  width: 200%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#second-nav-innerwrap.move-left {
  transform: translateX(-45.88%);
}
#visible-wrap {
  height: 100%;
}
#proj-info,
#proj-title {
  padding-left: 20px;
  height: 100%;
  box-sizing: border-box;
}
.info-left {
  padding-top: 30px;
}
#proj-article-wrap {
  overflow: hidden;
}
#info-title {
  opacity: 0;
  padding-left: 20px;
  transform: translateY(100px);
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
#second-nav.fixed .info-left {
  padding-top: 13px;
}
#second-nav.fixed #info-title {
  padding-top: 16px;
  opacity: 1;
  transform: translateY(0px);
}
#second-nav.fixed .filter-info{
  font-size: 16px;
}
#info-client h5,
#info-client h3,
#info-services h5,
#info-services h3,
#info-title h3,
#proj-text-cont h1,
#proj-text-cont h2,
#proj-text-cont p {
  position: relative;
  margin: 0;
  font-family: "apercu";
}
#info-title h3 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
#info-title h3:before {
  content: '';
  position: absolute;
  left: -24px;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #000;
}
#info-client h3,
#info-services h3 {
  font-size: 18px;
  font-weight: 400;
}
#info-client h5,
#info-services h5 {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
}
#proj-social { 
  font-size: 0;
  height: 100%;
}
#proj-social ul {
  list-style: none;
  width: 60%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
}
.share-ico {
  display: inline-block;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  opacity: 0.2;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.share-ico:hover {
  opacity: 1;
}
#share-twitter.share-ico {
  background-image: url(../img/share-ico-twitter-01.svg);
}
#share-google.share-ico {
  background-image: url(../img/share-ico-google-01.svg);
}
#share-linkedin.share-ico {
  background-image: url(../img/share-ico-linkedin-01.svg);
}
#share-pinterest.share-ico {
  background-image: url(../img/share-ico-pinterest-01.svg);
}
#proj-social-btn {
  height: 100%;
  background-image: url(../img/share-ico.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#proj-social-btn:hover {
  opacity: 1;
}
#proj-image-cont {
  padding: 20px;
  box-sizing: border-box;
}
#proj-text-cont {
  padding: 20px 90px;
  box-sizing: border-box;
}
#proj-image-cont img {
  width: 100%;
  margin-bottom: 20px;
}
#proj-text-cont img {
  display: none;
}
.proj-text-wrap {
  margin: 0 auto;
  max-width: 600px;
}
#proj-text-cont h1,
#proj-text-cont h2 {
  text-transform: uppercase;
  text-align: center;
}
#proj-text-cont h1 {
  margin-top: 40px;
  font-size: 45px;
  color: #000000;
}
#proj-text-cont h2 {
  margin-top: 120px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 30px;
  color: #cccccc;
}
#proj-text-cont p {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 200;
  color: #666666;
}
#proj-text-cont h1:after,
#proj-text-cont p:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 50px;
  height: 4px;
  margin-left: -25px;
}
#proj-text-cont h1:after {
  background-color: #000000;
}
#proj-text-cont p:after {
  background-color: #cccccc;
}
#back-to-btn {
  width: 100%;
  height: 200px;
  cursor: pointer;
}
#back-to-btn h5 {
  font-family: "apercu";
  text-align: center;
  font-weight: 400;
  line-height: 200px;
  color: #666666;
}
#back-to-btn:hover h5 {
  color: #000000;
}
#proj-quote {
  position: relative;
  width: 80%;
  margin: 100px auto;
  color: #b5b9b8;
}
#proj-quote h3,
#proj-quote h4,
#proj-quote h5 {
  position: relative;
  font-family: "apercu";
  font-weight: 200;
}
#proj-quote h5 {
  margin: 0 0 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
#proj-quote h5:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 40px;
  height: 2px;
  margin-left: -20px;
  background-color: #b5b9b8;
}
#proj-quote h3 {
  margin: 0 0 30px 0;
  font-size: 18px;
  color: #797979;
}
/* *********************************** BLOG INDEX PAGE ******************************* */
#blog-idx {
  height: 678px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 90px 7.03% 90px 7.03%;
  font-family: 'apercu';
}
#blog-idx-title {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  padding: 90px 7.03% 90px 7.03%;
  font-family: 'apercu';
}
#blog-idx-title h1 {
  margin-top: 40px;
  margin-left: 60px;
}
#blog-idx-title h1:before {
  background-color: #333;
}
#blog-idx-wrap {
  display: block;
}
#blog-idx-wrap,
#blog-idx-many-wrap {
  position: relative;
  height: 100%;
}
#blog-idx-many-wrap {
  display: none;
}
.blog-idx-arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
#blog-idx-many-close {
  position: absolute;
  top: 0;
  right: -65px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#blog-idx-many-close:before,
#blog-idx-many-close:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #333;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#blog-idx-many-close.visible:before {
  opacity: 1;
  -webkit-transform: rotate(45deg);
  -mos-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#blog-idx-many-close.visible:after {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  -mos-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.blog-idx-arrow.left {
  left: -65px;
  background-image: url(../img/blog-arrow-l.svg);
}
.blog-idx-arrow.right {
  right: -65px;
  background-image: url(../img/blog-arrow-r.svg);
}
#blog-idx-many-wrap h5 {
  font-size: 12px;
  font-weight: 200;
}
.blog-idx-many-col {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -mos-transform: translateY(50px);
  -o-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}
.blog-idx-many-col.first-col {
  padding-right: 20px;
  -webkit-transition: all 0.6s .2s;
  -moz-transition: all 0.6s .2s;
  -o-transition: all 0.6s .2s;
  -ms-transition: all 0.6s .2s;
  transition: all 0.6s .2s;
} 
.blog-idx-many-col.last-col {
  padding-left: 20px;
  -webkit-transition: all 0.6s .4s;
  -moz-transition: all 0.6s .4s;
  -o-transition: all 0.6s .4s;
  -ms-transition: all 0.6s .4s;
  transition: all 0.6s .4s;
} 
.blog-many-item {
  position: relative;
  width: 100%;
  height: 30%;
  margin-bottom: 30px;
  overflow: hidden;
}
#blog-idx-many-wrap.active .blog-idx-many-col {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -mos-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.blog-many-item:nth-child(n+3) {
  margin-bottom: 0;
}
.blog-many-item .link-author-name {
  left: -72px;
}
.blog-many-item p {
  font-size: 12px;
}
.blog-many-item img {
  padding-left: 24px;
  box-sizing:border-box;
}
.blog-many-item:last-child {
  margin: 0;
}
#blog-idx-single-date {
  top: -31px;
  left: -535px;
  width: 490px;
  font-weight: 200;
  text-align: center;
  color: #666;
}
#blog-idx-wrap img {
  width: 42.1%;
  max-width: 490px
}
#blog-idx-text {
  display: table;
  width: 50%;
  height: 100%;
  padding-left: 60px;
  box-sizing: border-box;
  color: #333;
}
#blog-idx-text-innerwrap {
  display: table-cell;
  vertical-align: middle;
}
#blog-idx-text h2,
#blog-idx-text h5 {
  text-transform: uppercase;
}
#blog-idx-text h5,
#blog-idx-text p {
  color: #666;
}
#blog-idx-text h2 {
  font-size: 30px;
}
#blog-idx-text h5 {
  font-size: 14px;
  font-weight: 200;
}
#blog-idx-text p {
  font-size: 16px;
  line-height: 26px;
}
#blog-idx-read-btn {
  width: 140px;
  margin-top: 60px;
  padding: 16px 20px;
  border: 2px solid #333;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

#blog-idx-read-btn:hover {
  border-radius: 8px;
}
#blog-idx-more-btn {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}
#blog-idx-more-btn .box {
  position: absolute;
  display: block;
  border: 3px solid #333;
  background-color: #f5f5f5;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -ms-transition: left 0.2s;
  transition: left 0.2s;
}
#blog-idx-more-btn #box-three {
  left: 0px;
}
#blog-idx-more-btn #box-two {
  left: 7.5px;
}
#blog-idx-more-btn #box-one {
  left: 15px;
}
#blog-idx-more-btn:hover #box-two {
  left: 15px;
}
#blog-idx-more-btn:hover #box-one {
  left: 27.5px;
}
.social-section {
  padding: 40px 70px 70px 70px;
  box-sizing: border-box;
}
#blog-insta {
  padding: 40px 0px 0px 0px;
}
#blog-twt {
  height: 400px;
}
.social-section .title-ico {
  float: left;
  width: 35px;
  height: 35px;
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
#twt-title-ico {
  background-image: url(../img/share-ico-twitter-01.svg);
}
#pin-title-ico {
  margin-left: 0px;
  background-image: url(../img/share-ico-pinterest-01.svg);
}
#plus-title-ico {
  margin-left: 0px;
  background-image: url(../img/share-ico-google-01.svg);
}
.social-col-wrap {
  box-sizing: border-box;
  padding: 0 20px;
}
.social-section {
  font-family: "apercu";
  color: #666666;
}
.blog-social-title h2 {
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 400;
  color: #cccccc;4
}
.social-section h6 {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 200;
  color: #cccccc;
}
.social-section h4 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
#blog-twt p {
  font-size: 18px;
  line-height: 28px;
}
.twt-tweet-body a,
.twt-tweet-body .twt-tweet-user {
  color: #999999;
}
.social-section .hash{
  color: #3399ff;
}
#blog-pin-plus {
  height: 680px;  
  background-color: #f5f5f5;
}
.pin-post,
.plus-post-img-source {
  box-sizing: border-box;
  padding-right: 15px;
}
.pin-post:last-child {
  padding-left: 15px;
  padding-right: 0px;
}
.pin-post img,
.plus-post img {
  width: 100%;
}
.pin-post p,
.plus-post p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
#blog-plus {
  height: 100%;
}
.plus-post:nth-child(2) {
  border-bottom: 2px solid #fff;
  margin-bottom: 10%;
}
.plus-post {
  height: 36%;
}
.plus-post-txt-wrap {
  box-sizing: border-box;
  padding-left: 15px;
}
.plus-post-date {
  text-align: right;
}
#blog-insta .img-col-img {
  width: 100%;
}
/* *********************************** BLOG INTERNAL PAGE ******************************* */
#blog-header {
  position: relative;
  width: 50%;
  min-height: 420px;
  padding: 156px 0 0 90px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
#blog-header h1,
#blog-header h3,
#blog-main p,
#blog-main h5 {
  font-family: "apercu";
}
#blog-header h1 {
  font-size: 45px;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}
#blog-header h3 {
  font-size: 14px;
  text-transform: uppercase;
}
#blog-header-genre {
  font-weight: 200;
  color: #666666;
  text-decoration: underline;
}
#blog-header-author span {
  font-weight: 200;
}
#blog-images-wrap {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 70px;
  overflow: hidden;
}
#blog-images img {
  display: block;
  float: left;
  margin-left: 20px;
}
#blog-main {
  margin-bottom: 60px;
}
#blog-main p {
  max-width: 800px;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}
#blog-main h5 {
  font-weight: 200;
  font-size: 12px;
}
#blog-main-text {
  position: relative;
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 20px;
}
#blog-main-text img {
  width: 100%;
  margin: 60px 0;
}
#blog-main-date {
  top: 0px;
  left: -150px;
  width: 200px;
}
.date-cont-flip {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 100% 50%;
  text-align: right;
}
.date-cont-flip span {
  position: relative;
  text-transform: uppercase;
  margin-right: 20px;
}
.date-cont-flip span:after {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 2px;
  width: 10px;
  height: 1px;
  background-color: black;
}
#blog-main-other {
  padding-left: 20px;
  box-sizing: border-box;
}
#blog-main-share,
#other-blogs {
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px
}
#blog-main-share {
  height: 100px;
}
#blog-main-share ul,
#blog-main-share li {
  height: 100%;
}
#blog-main-share ul {
  width: 50%;
  margin: 0 auto;
}
#blog-main-share li {
  max-width: 100px;
}
#other-blogs {
  height: 600px;
}
#other-blogs h2 {
  font-family: "apercu";
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
}
#more-other {
  position: relative;
  display: table;
  width: 100%;
  height: 16%;
}
#refresh-wrap {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
#refresh-wrap h2 {
  margin: 0;
}
.other-blog-link {
  position: relative;
  display: table;
  width: 100%;
  height: 28%;
  cursor: pointer;
}
.other-blog-link:hover {
  background-color: #f6f6f6;;
}
.link-author-name {
  position: absolute;
  top: 50%;
  width: 140px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: 50% 0;
}
.other-blog-link .link-author-name {
  left: -45px;
}
.other-blog-link img {
  max-width: 160px;
  box-sizing: border-box;
  padding: 0 0 0 60px;
}
.blog-link-wrap {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}
.link-titles {
  display: table;
  height:100%;
  max-width: 500px;
  padding-left: 30px;
  box-sizing: border-box;
}
.link-titles h3 {
  font-family: 'apercu';
  font-size: 16px;
  text-transform: uppercase;
  margin: 6px 0;
}
.link-titles h5 {
  margin: 0;
}
.link-title-inner-wrap {
  display: table-cell;
  vertical-align: middle;
}
#more-this-author {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 90px 90px 90px;
}
#more-this-author h2,
#more-this-author h3,
#more-this-author h5,
#more-this-author p {
  font-family: "apercu";
  color: #333333;
}
#more-this-author h2,
#more-this-author h3,
#more-this-author h5 {
  text-align: center;
}
#more-this-author h2 {
  margin: 50px 0;
  font-size: 24px;
  text-transform: uppercase;
}
#more-this-author h3 {
  font-size: 16px;
  text-transform: uppercase
}
#more-this-author h5 {
  font-size: 12px;
  font-weight: 200;
  color: #cccccc;
}
#more-this-author p {
  font-size: 12px;
}
.this-author-item {
  box-sizing: border-box;
  padding: 0 40px;
}
.this-author-item img {
  width: 100%;
}
.link-genre {
  text-transform: uppercase;
}
.link-genre a {
  text-decoration: underline;
  cursor: pointer;
}
/* *********************************** CONTACT ******************************* */

#contactWrapper{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}
#mapSection{
    height: 100%;
    width: 50%;
    position: relative;
    float: left;
}

#contactInfoSection{
    height: 100%;
    width: 50%;
    background-color:#fafafa;
    float: left;
}

#contactInfoDiv{
    padding-left: 40px;
    padding-right: 40px;
    padding-top:200px;
    color:#797979;
}

#contactInfo2Div{
    padding-left: 40px;
    padding-right: 40px;
    padding-top:10px;
    color: #b5b8b9;
}

#contactInfoSection h1 {
    position: relative;
    margin-top: 0px;
    font-size: 60px;
    font-family: "apercu";
    font-weight: 400;
    line-height: 65px;
    color: #000000;
    margin-left: 50px;
/*    text-transform: uppercase;*/
}

#contactInfoSection h1:before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: -50px;
  width: 40px;
  height: 4px;
  background-color: #000000;
}
    
#joinButton{
    height: 200px;
    background-color: #e8e8e8;
    position: absolute;
    bottom: 0;
    width: 50%;
    cursor: pointer;
} 

#joinButton h1{
    margin-left: 90px;
    top: 70px;
    /*
    padding-left: 40px;

    margin-left: 50px;
*/
}

#joinButton h1:before {
  content: '';
  position: absolute;
  bottom: 12px;
/*  left: -50px;*/
  width: 40px;
  height: 4px;
  background-color: #000000;
}

#joinButtonContainer {
	position: absolute;
	bottom:0;
	width: 50%;
	z-index: 100050;
    background-color: #e8e8e8;
    margin-right: 35px;
    overflow: hidden;
}
#joinButtonButton {
	top: -55px;
	width:50px;
	height:50px;
	background:url(../images/footer1.png) 0 0 no-repeat;
	cursor: pointer;
	left: 0px; top: 0px;
	height: 0; width: 0; 
	
	z-index: 620;

}
#joinButtonContent {
	height: 0px;
	color: #000000;
	font-size: 18px;
	border: none;
	font-family: Arial,Helvetica,sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

#jobOffers a{
	color: #000000;
    display: block;
    margin-top: 10px;
}

#jobOffers a:visited{
	color: #000000;
}

#applyButton {
    padding: 15px 30px 15px 30px;
    border: 2px solid #000000;
    width: 88px;
    margin-top: 50px;
    cursor: pointer;
}

#applyNow {
    width: 50%;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    position: absolute;
    left: -50%;
}

#applyFormDiv{
    padding-left: 40px;
    padding-right: 40px;
    padding-top:200px;
}

#applyNow h1{
    position: relative;
    margin-top: 0px;
    font-size: 60px;
    font-family: "apercu";
    font-weight: 400;
    line-height: 65px;
    color: #ffffff;
}

#applyForm{
    color: #b5b9b8;
    width: 100%;
}

#formFirstSection{
    width: 100%;
    position: relative;
    float:left;
}

#formSecondSection{
    width: 100%;
    position: relative;
    float:left;
    margin-top:20px;
}

#applyForm input{
    width: 198px;
    height: 20px;
    line-height: 20px;
    top: -25px;
    border: none;
    resize: none;
    margin-left: 2px;
    position: relative;
    padding: 0 2px;
    background: transparent;
    border-top: 0;
    color: #ffffff;
}

#applyForm input:focus{
    outline: 0;
}
    
#textForm{
    width: 20%;
    position: relative;
    float: left;
    line-height: 50px;
}

.inputDivBorder{
    border-left: 2px solid #b5b9b8;
    border-right: 2px solid #b5b9b8;
    border-bottom: 2px solid #b5b9b8;
    height: 10px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 37px;
}

#textForm p{
   margin:0;
}

#fieldForm{
    width: 80%;
    position: relative;
    float: left;
    line-height: 50px;
}

#textForm2{
    width: 120px;
    position: relative;
    float: left;
    line-height: 50px;
}

#textForm2 p{
    margin: 0;
    line-height: 63px;   
}

#fileForm{
    width: 120px;
    position: relative;
    float: left;
}

.attach{
    padding: 15px 25px 15px 25px;
    border: 2px solid #b5b9b8;
    width: 50px;
    cursor: pointer;
    margin: 0;
    margin-bottom: 15px;
}

.send{
    padding: 15px 25px 15px 25px;
    border: 2px solid #b5b9b8;
    width: 50px;
    cursor: pointer;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    float: right;
    right: 17%;
}


/* *********************************** SERVICES ******************************* */

#servicesWrapper{
   width: 100%;
    height: 700px;
    background-color: #fafafa;
    font-family: "apercu";
}

#servicesWrapper h1{
  position: relative;
margin-top: 0px;
font-size: 60px;
font-family: "apercu";
font-weight: 400;
line-height: 65px;
/*text-transform: uppercase;*/
}


#servicesWrapper h1:before{
  content: '';
    position: absolute;
    bottom: 12px;
    left: -50px;
    width: 40px;
    height: 4px;
    background-color: #000000;
}

#servicesWrapperAnim{
    width: 100%;
    height: 700px;
    padding-top: 100px;
    overflow: hidden;
}


#servicesInfoSection {
    width: 50%;
    float: left;
    position: absolute;
    left: 0;
    margin-top: 30px;
}

#servicesWrapperAnim h1{
    margin: 0;
    margin-left: 20%;
}

#servicesWrapperAnim p{
    margin-left: 20%;
    margin-right: 10%;
    color:#797979;
    font-size: 18px;
    font-family: "apercu";
}

#servicesList {
    width: 50%;
    float: left;
    position: absolute;
    left: 50%;
}

#servicesList ul{
    padding-left: 20%;
}

#servicesList ul li{
    list-style-type: none;
    padding-bottom: 20px;
    padding-top: 25px;
    cursor: pointer;
    color:#010101;
    font-size: 18px;
    font-family: "apercu";
}

.currentService span{
    border-bottom: 8px solid #000000;
    padding-bottom: 20px;
}

#servicesContent {
    width: 50%;
    float: left;
    position: relative;
    left: 100%;
    margin-top: 30px;
}

.serviceContent{
    position: absolute;
    top: 60px;
    left:0;
    display:none;
}

.serviceContent p{
    margin-left: 5% !important;
    margin-right: 10% !important;
}

.serviceContent  h1{
    margin: 0;
    margin-left: 5% !important;
}

#servicesSubtitle{
    height: 50px;
    position: absolute;
    left: 5%;
    top: 35px;
    color:#010101;
    font-size: 12px;
    font-family: "apercu";
}

#servicesBar{
    width: 40px;
    height: 8px;
    background-color: #000000;
    float: left;
    top: 4px;
    position: relative;
}

#servicesSubtitle span{
    margin-left: 5px;
}
#closeServices{
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    width: 24px;
    height: 30px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    float: right;
    right: 10%;
    top: 20PX;
}

.line {
    display: inline-block;
    width: 24px;
    height: 3px;
    position: absolute;
    color:#000025;
}

#closeServices .line {
  background: transparent;
}

#closeServices .line:nth-child(1), #closeServices .line:nth-child(3) {
  width: 30px;
  background-color: #000000;
}

#closeServices .line:nth-child(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
}

#closeServices .line:nth-child(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
}

.csLinkButton{
    border: 2px solid #000000;
    margin-top: 40px;
    margin-left: 5%;
    padding: 15px;
    position: relative;
    float: left;
    font-family: "apercu";
    font-size:14px;
    color:#000000;
}

#serv-quoteWrapper{
    background-color: #ffffff;
    padding: 1px;
}

#serv-quote {
  position: relative;
  width: 80%;
  margin: 100px auto;
  color: #b5b9b8;
  background-color: #ffffff;
}
#serv-quote h3,
#serv-quote h4,
#serv-quote h5 {
  position: relative;
  font-family: "apercu";
  font-weight: 200;
}
#serv-quote h5 {
  margin: 0 0 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
#serv-quote h5:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 40px;
  height: 2px;
  margin-left: -20px;
  background-color: #b5b9b8;
}
#serv-quote h3 {
  margin: 0 0 30px 0;
  font-size: 18px;
  color: #797979;
}

#clientsWrapper{
    padding-bottom: 100px;
}
    
#clientsWrapper h1{
    margin: 0;
    padding-left: 5%;
    padding-top: 100px;
}

#clientsLogos{
    width: 100%;
    margin-top: 40px;
}

.logosList{
    width: 100%;
    left: 5%;
    position: relative;
    display: table;
}

.logosList img {
    display: table-cell;
    position: relative;
    float: left;
    width: 14%;
    margin-right: 1%;
}

/* *********************************** FOOTER ******************************* */
footer {
  display: none;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #000000;
}
.f-left-col {
  float: left;
  width: 30%;
  height: 100%;
  padding-left: 50px;
  box-sizing: border-box;
}
#f-logo {
  width: 100%;
  height: 34px;
  margin-top: 80px;
  margin-bottom: 100px;
  background: url(../img/logo-02.svg) no-repeat 0% 50%;
}
#f-social {
  width: 100%;
  list-style: none;
}
.f-social-ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}
#f-facebook.f-social-ico {
   background-image: url(../img/socialico-04.svg)
}
#f-twitter.f-social-ico {
  background-image: url(../img/socialico-02.svg)
}
#f-linked-in.f-social-ico {
  background-image: url(../img/socialico-01.svg)
}
#f-pinterest.f-social-ico {
  background-image: url(../img/socialico-05.svg)
}
#f-vimeo.f-social-ico {
  background-image: url(../img/socialico-03.svg)
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
  @media only screen and (min-width: 1801px) {

  /************************ CASE STUDIES START  *************************/
  #cs-page-header {
    width: 41%;
    padding-left: 50px;
  }
  #cs-filter-text {
    padding: 0 150px 0 50px;
  }
  .work-text {
    padding: 0 50% 0 15%;
  }
  .work-text h2{
    font-size: 60px;
  }
  .work-text h4 {
    font-size: 20px;
  }
  .view-proj {
    right: 150px;
  }
  /************************ CASE STUDIES START  *************************/
  .f-left-col {
    padding-left: 150px;
  }


} 
@media only screen and (min-width: 1601px) and (max-width: 1800px) {

  /************************ CASE STUDIES START  *************************/
  #cs-page-header {
    width: 41%;
    padding-left: 50px;
  }
  .view-proj {
    right: 80px;
  }
  .to-top {
    left: 80px;
  }

} 

@media only screen and (min-width: 1025px) and (max-width: 1600px) {

  /************************ CASE STUDIES START  *************************/
  #cs-page-header {
    width: 41%;
    padding-left: 50px;
    top: 20%;
    left: 26%;
  }
  .work-text h2{
    font-size: 36px;
  }
  .work-text h4 {
    font-size: 16px;
  }
  .view-proj {
    right: 80px;
  }
  .to-top {
    left: 80px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /************************ CASE STUDIES START  *************************/
  #cs-page-header {
    width: 60%;
    padding-left: 50px;
    top: 26%;
    left: 22%;
  }
  .page-header h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .page-header h1:before {
    bottom: 6px;
    left: -40px;
    width: 30px;
    height: 3px;
  }
  .page-header p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 28px;
  }
  #scroll-indicator {
    width: 26px;
    height: 44px;
    margin-top: 40px;
  }
  #scroll-indicator h5 {
    width: 300px;
    font-size: 14px;
  }
  .work-text {
      height: 60%;
      padding: 0 35% 0 15%;
  }
  .work-text h2{
    font-size: 30px;
  }
  .work-text h4 {
    font-size: 13px;
  }
  .to-top {
    left: 50px;
  }
    
    /*********** CONTACT PAGE *********/
    #mapSection{
        width: 100%;
        height:50%;
    }
    #contactInfoSection{
        width: 100%;
        height:50%;
    }
    #contactInfoDiv{
        padding-top: 50px;
    }
    #joinButton{
        width: 100%;
    }
    #joinButtonContainer{
        width:100%;
    }
    
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  .nav {
    padding: 30px 30px;
  }
  .nav-mobile {
    display:block;
    right: 30px;
  }
  .nav-list {
    display:none;
  }
  /************************ HOMEPAGE SLIDER *************************/

  .landingBox {
    left: 50%;
    width: 300px;
    height: 200px;
    margin-top: -100px;
    margin-left: -150px;
    box-sizing: border-box;
  }
  .landingTitle {
    font-size: 42px;
    font-family: "apercu";
    letter-spacing: 0px;
  }
  .landingTitle span {
    font-size: 32px;
    vertical-align: super;
    padding-bottom: 10px;
  }
  .landingBox.welcome {
    width: 370px;
    height: 210px;
    left: 50%;
    margin-left: -185px;
    margin-top: -105px;
    box-sizing: border-box;
  }
  .welcome .landingTitle {
    font-size: 21px;
    font-family: "apercu";
    font-weight: 200;
    color: #B5B8B9;
    letter-spacing: 0px;
  }
  #slideshowMenu {
    position: absolute;
    width: 108px;
    height: 30px;
    left: 50%;
    bottom: 20px;
    margin-left: -54px;
  }
  .slideshowMenuItem{
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
  }
  /************************ CASE STUDIES START  *************************/
  #cs-page-header {
    width: 60%;
    padding-left: 30px;    
    top: 26%;
    left: 22%;
  }
  .page-header h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .page-header h1:before {
    bottom: 6px;
    left: -40px;
    width: 30px;
    height: 3px;
  }
  .page-header p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 28px;
  }
  #scroll-indicator {
    width: 26px;
    height: 44px;
    margin-top: 40px;
  }
  #scroll-indicator h5 {
    width: 300px;
    font-size: 14px;
  }
  .work-text {
      height: 70%;
      padding: 0 20% 0 15%;
  }
  .work-text h2{
    font-size: 30px;
  }
  .work-text h4 {
    font-size: 13px;
  }
  .to-top {
    left: 36px;
  }
  /********** PROJECT VIEW **********/
  #proj-title {
    display: none;
  }
  #proj-info {
    width: 91.66%;
    padding-left: 45px;
  }
  #second-nav.fixed #info-title {
    transform: translateY(-45px);
  }
  #info-title h3,
  #info-client h3,
  #info-services h3 {
    font-size: 14px;
  }
  #info-client h5,
  #info-services h5 {
    font-size: 12px;
  }
  #proj-image-cont {
    display: none;
  }
  #proj-text-cont {
    width: 100%;
    padding: 20px 45px;
  }
  .proj-text-wrap {
    padding: 0 60px;
  }
  #proj-text-cont img{
    width: 100%;
    display: block;
  }
  #proj-text-cont p {
    margin-bottom: 100px;
  }
  #proj-social-btn {
    background-size: 30%;
  }
  /*********** CONTACT PAGE *********/
  #mapSection{
      width: 100%;
      height:50%;
  }
  #contactInfoSection{
      width: 100%;
      height:50%;
  }
  #contactInfoDiv{
      padding-top: 50px;
  }
  #joinButton{
      width: 100%;
  }
  #joinButtonContainer{
      width:100%;
  }
}
    
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .nav {
    padding: 30px 30px;
  }
  .nav-mobile {
    display:block;
    right: 30px;
  }
  .nav-list {
    display:none;
  }
  /************************ HOMEPAGE SLIDER *************************/

  #arrowLeft,
  #arrowRight {
    display: none;
  }
  .landingBox {
    left: 0;
    width: 100%;
    height: 120px;
    margin-top: -60px;
    margin-left: 0px;
    padding: 0 60px;
    box-sizing: border-box;
    min-width: 320px;
  }
  .landingTitle {
    font-size: 28px;
    font-family: "apercu";
    letter-spacing: 0px;
  }
  .landingTitle span {
    font-size: 18px;
    vertical-align: super;
    padding-bottom: 10px;
  }
  .landingBox.welcome {
    width: 100%;
    height: 240px;
    left: 0;
    margin-left: 0px;
    margin-top: -120px;
    padding: 0 50px;
    box-sizing: border-box;
    min-width: 320px;
  }
  .welcome .landingTitle {
    font-size: 18px;
    font-family: "apercu";
    font-weight: 200;
    color: #B5B8B9;
    letter-spacing: 0px;
  }
  .hp-title-link:before {
    right: -20px;
    width: 14px;
    height: 14px;
    margin-top: -7px;
  }
  #slideshowMenu {
    position: absolute;
    width: 108px;
    height: 30px;
    left: 50%;
    bottom: 20px;
    margin-left: -54px;
  }
  .slideshowMenuItem{
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
  }
  /************************ CASE STUDIES START  *************************/
   #cs-page-header {
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 160px;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .page-header h1 {
    font-size: 40px;
    line-height: 40px;
    padding-left: 24px;
  }
  .page-header h1:before {
    bottom: 6px;
    left: 0px;
    width: 20px;
    height: 3px;
  }
  .page-header p {
    display: none;
    /* margin-top: 30px;
    font-size: 14px;
    line-height: 28px;*/
  }
  #scroll-indicator {
    width: 26px;
    height: 44px;
    margin-top: 80px;
  }
  #scroll-indicator h5 {
    width: 244px;
    font-size: 14px;
  }
  #cs-filter-text {
    bottom: 20px;
    padding: 0 50px 0 0px;
  }
  #cs-filter-text h5 {
    position: relative;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #B5B8B9;  
    text-align: right;
  }
  #filter-toggle:before {
    right: -30px;
  }
  .work-text {
      height: 70%;
      padding: 0 20% 0 6%;
  }
  .work-text h2{
    font-size: 18px;
  }
  .work-text h4,
  .view-proj,
  .work-item.active .to-top {
    display: none;
  }
  .work-item.active .to-top {
    display: none;
  }

  /********** PROJECT VIEW **********/
  #proj-social-btn {
    background-size: 60%;
  }
  #proj-title {
    display: none;
  }
  #proj-info {
    width: 91.66%;
    padding-left: 45px;
  }
  #info-client h3,
  #info-services h3 {
    font-size: 13px;
  }
  #second-nav.fixed .filter-info {
    font-size: 13px;
  }
  #info-client h5,
  #info-services h5 {
    font-size: 12px;
  }
  #proj-image-cont {
    display: none;
  }
  #proj-text-cont {
    width: 100%;
    padding: 20px 45px;
  }
  .proj-text-wrap {
    padding: 0 60px;
  }
  #proj-text-cont img{
    width: 100%;
    display: block;
  }
  #proj-text-cont p {
    margin-bottom: 100px;
  }

  /*********** CONTACT PAGE *********/
  #mapSection{
      width: 100%;
      height:50%;
  }
  #contactInfoSection{
      width: 100%;
      height:50%;
  }
  #contactInfoDiv{
      padding-top: 50px;
  }
  #joinButton{
      width: 100%;
  }
  #joinButtonContainer{
      width:100%;
  }
  #contactInfoDiv {
      padding: 30px;
      padding-bottom: 0;
  }
  
  #contactInfo2Div{
      padding-left: 30px;
      padding-bottom: 20px;
  }
  
  #contactInfo2Div p{
      margin-bottom:10px;
      margin-top:0px;
  }
  
  #contactInfoSection h1{
      font-size: 38px;
      line-height: 40px;
      padding-left: 24px;
      margin-left: 0;
  }
  
  #contactInfoSection h1:before{
      bottom: 6px;
      left: 0px;
      width: 20px;
      height: 3px;
  }
  
  #joinButton{
      height:100px;
      position: relative;
  }
  
  #joinButton h1 {
      margin-left: 30px;
      top: 25px;
  }
  
  #joinButtonContainer{
      display: none;
  }
  #applyNow{
      display: none;
  }   
}
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
  .landingBox.welcome {
    height: 120px;
    margin-top: -60px;
    padding: 0 50px;
  }
  .landingBox {
    left: 0;
    width: 100%;
    margin-top: -60px;
    margin-left: 0px;
    padding: 0 120px;
  }
  .nav-list-full {
    height: 244px;
    margin-top: -122px;
    line-height: 60px;
  } 
}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}